/* Car Rental styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 0.3rem;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content h2 {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  
nav {
    font-size: 0.8rem;
    display: flex;
    justify-content: right;
    margin-right: 2rem;    
  }
  
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  nav a:hover {
    background-color: #555;
  }

  
  #home {
    position: relative;
    background-image: url("Img/BG_CarRental.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 80%;
  }
  #home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  #home:hover::before {
    opacity: 1; 
  }
  
  .home-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .home-center h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .home-center p {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .tab {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
  .tab-section{
    gap: 1rem;
    padding: 1rem;
  }

  .tab-section h2{
    text-align: center;
  }
  
  .tablinks {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border-radius: 5px 5px 0 0;
    background-color: #333;
    border: 1px solid #444;
  }
  
  .tablinks.active {
    background-color: #fff;
    color: #333;
    border: 1px solid #444;
    border-bottom: none;
  }
  
  .tablinks:hover {
    background-color: #555;
  }

  #cars{
    background-color: grey;
  }
  
  .car-listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.3rem;
    padding: 1rem;
  }
  
  .car-card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:  whitesmoke;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .car-image {
    /* Styles for car image */
    flex: 3; /* 30% of the width */
    position: relative;
    height: 60vh;
  }
  
  .car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Display the image at full size and maintain aspect ratio */
  }
  
  /*Customize Slick carousel*/
 /* Slider styles */
  .slider-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Slider navigation arrows */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 10;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }
  
  .contact {
    text-align: left;
    padding: 1rem;
    background-color: black;
  }
  .contact h2 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .contact p {
    line-height: 40%;
    margin-bottom: 1rem;
    color: #fff;
  }

  /* Popup modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
  }